backups/n8n/workflows_20260413_002824.json
[{"updatedAt":"2026-04-13T00:04:53.153Z","createdAt":"2026-04-13T00:04:45.256Z","id":"a800664a5a2940de","name":"Scan Results to Community Channel","description":"RMI Scan Results to Community Channel","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"scan-result","responseMode":"responseNode","options":{}},"id":"webhook-node","name":"Scan Result Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[250,300],"webhookId":"scan-result"},{"parameters":{"jsCode":"// Process scan result data\nconst data = $input.first().json.body;\n\n// Validate required fields\nif (!data.contract_address || !data.token_name) {\n  return {\n    status: 'error',\n    message: 'Missing required fields'\n  };\n}\n\n// Calculate risk score and emoji\nconst score = data.risk_score || 5;\nlet emoji = '✅';\nlet status = 'SAFE';\n\nif (score >= 8) {\n  emoji = '🚨';\n  status = 'HIGH RISK';\n} else if (score >= 5) {\n  emoji = '⚠️';\n  status = 'MODERATE RISK';\n} else if (score >= 3) {\n  emoji = '⚡';\n  status = 'LOW RISK';\n}\n\n// Format contract address (shorten)\nconst contract = data.contract_address;\nconst shortContract = `${contract.slice(0, 6)}...${contract.slice(-4)}`\n\n// Build issues list\nlet issuesText = '';\nif (data.issues && data.issues.length > 0) {\n  issuesText = data.issues.slice(0, 3).map(i => `❌ ${i}`).join('\\n');\n  if (data.issues.length > 3) {\n  issuesText += `\\n...and ${data.issues.length - 3} more`;\n  }\n}\n\n// Format message\nconst message = `🔍 <b>Community Scan Result</b>\n\n<b>${data.token_name}</b> <code>${shortContract}</code>\n\n${emoji} Risk Score: <b>${score}/10</b> (${status})\n\n${issuesText ? issuesText + '\\n\\n' : ''}Scanned by: @${data.username || 'anonymous'}\n${data.scan_url ? `<a href=\"${data.scan_url}\">View Full Report</a>` : ''}`;\n\nreturn {\n  status: 'success',\n  message: message,\n  risk_score: score,\n  contract: contract\n};"},"id":"process-node","name":"Format Scan Result","type":"n8n-nodes-base.code","typeVersion":2,"position":[450,300]},{"parameters":{"chatId":"-1003924326210","text":"={{ $json.message }}","additionalFields":{"parse_mode":"HTML","disable_notification":false}},"id":"telegram-node","name":"Post to Munch Scans","type":"n8n-nodes-base.telegram","typeVersion":1.1,"position":[650,300],"credentials":{"telegramApi":{"id":"uXFqVgTBJsC5BGaA","name":"Rug Munch Bot"}}},{"parameters":{"respondWith":"json","options":{},"responseBody":"={{ JSON.stringify({ success: true, posted: true, channel: 'munchscans' }) }}"},"id":"respond-node","name":"Confirm Post","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[850,300]}],"connections":{"Scan Result Webhook":{"main":[[{"node":"Format Scan Result","type":"main","index":0}]]},"Format Scan Result":{"main":[[{"node":"Post to Munch Scans","type":"main","index":0}]]},"Post to Munch Scans":{"main":[[{"node":"Confirm Post","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveExecutionProgress":true,"saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":null,"pinData":null,"versionId":"9c6408f8b1e1447a","activeVersionId":"9c6408f8b1e1447a","versionCounter":3,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-04-13T00:07:22.814Z","createdAt":"2026-04-13T00:07:22.814Z","role":"workflow:owner","workflowId":"a800664a5a2940de","projectId":"op0DK4pVtPPxkvv9","project":{"updatedAt":"2026-04-12T17:27:58.061Z","createdAt":"2026-04-12T14:40:16.906Z","id":"op0DK4pVtPPxkvv9","name":"Crypto Rug Muncher <cyptorugmuncher@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"61ff25db-6593-4eda-8e48-0cf4b2faeab5"}}],"versionMetadata":{"name":"Scan Results to Community Channel","description":"RMI Scan Results to Community Channel"}},{"updatedAt":"2026-04-13T00:04:53.153Z","createdAt":"2026-04-13T00:04:45.258Z","id":"0e6b2d4d57df41ec","name":"Backend Health Monitor","description":"RMI Backend Health Monitor","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"backend-alert","responseMode":"responseNode","options":{}},"id":"webhook-node","name":"Health Alert Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[250,300],"webhookId":"backend-alert"},{"parameters":{"jsCode":"// Process backend health alert\nconst data = $input.first().json.body;\n\nconst alertTypes = {\n  'error': { emoji: '🔴', priority: 'HIGH' },\n  'warning': { emoji: '🟡', priority: 'MEDIUM' },\n  'info': { emoji: '🔵', priority: 'LOW' },\n  'system_down': { emoji: '🚨', priority: 'CRITICAL' },\n  'webhook_fail': { emoji: '⚠️', priority: 'HIGH' },\n  'db_error': { emoji: '💾', priority: 'CRITICAL' }\n};\n\nconst type = data.alert_type || 'info';\nconst style = alertTypes[type] || alertTypes['info'];\n\nconst message = `${style.emoji} <b>Backend Alert</b> [${style.priority}]\n\n<b>Type:</b> ${type.replace('_', ' ').toUpperCase()}\n<b>Service:</b> ${data.service || 'Unknown'}\n<b>Time:</b> ${new Date().toISOString()}\n\n${data.message || data.error || 'No details provided'}\n\n${data.action_required ? `<b>Action Required:</b> ${data.action_required}` : ''}`;\n\nreturn {\n  status: 'success',\n  message: message,\n  alert_type: type,\n  priority: style.priority\n};"},"id":"format-node","name":"Format Alert","type":"n8n-nodes-base.code","typeVersion":2,"position":[450,300]},{"parameters":{"chatId":"-1003991061445","text":"={{ $json.message }}","additionalFields":{"parse_mode":"HTML"}},"id":"telegram-node","name":"Alert Admins","type":"n8n-nodes-base.telegram","typeVersion":1.1,"position":[650,300],"credentials":{"telegramApi":{"id":"uXFqVgTBJsC5BGaA","name":"Rug Munch Bot"}}},{"parameters":{"respondWith":"json","options":{},"responseBody":"={{ JSON.stringify({ received: true, priority: $json.priority }) }}"},"id":"respond-node","name":"Acknowledge","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[850,300]}],"connections":{"Health Alert Webhook":{"main":[[{"node":"Format Alert","type":"main","index":0}]]},"Format Alert":{"main":[[{"node":"Alert Admins","type":"main","index":0}]]},"Alert Admins":{"main":[[{"node":"Acknowledge","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveExecutionProgress":true,"saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":null,"pinData":null,"versionId":"c6ca216d39a24573","activeVersionId":"c6ca216d39a24573","versionCounter":3,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-04-13T00:07:22.814Z","createdAt":"2026-04-13T00:07:22.814Z","role":"workflow:owner","workflowId":"0e6b2d4d57df41ec","projectId":"op0DK4pVtPPxkvv9","project":{"updatedAt":"2026-04-12T17:27:58.061Z","createdAt":"2026-04-12T14:40:16.906Z","id":"op0DK4pVtPPxkvv9","name":"Crypto Rug Muncher <cyptorugmuncher@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"61ff25db-6593-4eda-8e48-0cf4b2faeab5"}}],"versionMetadata":{"name":"Backend Health Monitor","description":"RMI Backend Health Monitor"}},{"updatedAt":"2026-04-13T00:04:53.153Z","createdAt":"2026-04-13T00:04:45.258Z","id":"d6334eca3f3a4d31","name":"Whale Alert System","description":"RMI Whale Alert System","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"whale-alert","responseMode":"responseNode","options":{}},"id":"webhook-node","name":"Whale Alert Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[250,300],"webhookId":"whale-alert"},{"parameters":{"jsCode":"// Process whale alert data\nconst data = $input.first().json.body;\n\n// Validate required fields\nif (!data.wallet_address || !data.amount) {\n  return {\n    status: 'error',\n    message: 'Missing wallet_address or amount'\n  };\n}\n\n// Calculate whale tier\nconst amount = parseFloat(data.amount);\nlet tier = 'small';\nif (amount >= 1000000) tier = 'mega';\nelse if (amount >= 100000) tier = 'large';\nelse if (amount >= 10000) tier = 'medium';\n\n// Format message\nconst formattedAmount = new Intl.NumberFormat('en-US', {\n  style: 'currency',\n  currency: 'USD',\n  maximumFractionDigits: 0\n}).format(amount);\n\nreturn {\n  status: 'success',\n  wallet_address: data.wallet_address,\n  amount: amount,\n  formatted_amount: formattedAmount,\n  tier: tier,\n  token: data.token_symbol || 'UNKNOWN',\n  chain: data.chain || 'solana',\n  tx_hash: data.tx_hash || '',\n  timestamp: new Date().toISOString(),\n  alert_id: 'whale_' + Date.now()\n};"},"id":"process-node","name":"Process Whale Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[450,300]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"tier-check","leftValue":"={{ $json.tier }}","rightValue":"medium","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"}},"id":"if-tier","name":"Large Whale?","type":"n8n-nodes-base.if","typeVersion":2,"position":[650,300]},{"parameters":{"content":"🐋 **WHALE ALERT** 🐋\n\n**Tier:** {{ $json.tier.toUpperCase() }}\n**Amount:** {{ $json.formatted_amount }}\n**Token:** {{ $json.token }}\n**Chain:** {{ $json.chain.toUpperCase() }}\n\n**Wallet:** `{{ $json.wallet_address }}`\n**Tx:** `{{ $json.tx_hash }}`\n\nTime: {{ $json.timestamp }}","additionalFields":{}},"id":"telegram-node","name":"Send Telegram Alert","type":"n8n-nodes-base.telegram","typeVersion":1.1,"position":[850,200],"credentials":{"telegramApi":{"id":"uXFqVgTBJsC5BGaA","name":"RMI Telegram Bot"}}},{"parameters":{"options":{},"content":"🐋 Whale Alert: {{ $json.formatted_amount }} {{ $json.token }} moved\n\nWallet: {{ $json.wallet_address.slice(0,6) }}...{{ $json.wallet_address.slice(-4) }}\nTier: {{ $json.tier }}\nChain: {{ $json.chain }}\n\n#WhaleAlert #{{ $json.chain }} #Crypto","otherOptions":{}},"id":"twitter-format","name":"Format Tweet","type":"n8n-nodes-base.set","typeVersion":3.2,"position":[850,400]},{"parameters":{"text":"={{ $json.content }}","additionalFields":{}},"id":"twitter-post","name":"Post to X","type":"n8n-nodes-base.twitter","typeVersion":2,"position":[1050,400],"credentials":{"twitterOAuth2Api":{"id":"Inw38l3rrrfQlm5x","name":"Twitter API"}}},{"parameters":{"respondWith":"json","options":{},"responseBody":"={{ JSON.stringify({ success: true, alert_id: $json.alert_id, tier: $json.tier }) }}"},"id":"respond-success","name":"Respond Success","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[1050,200]}],"connections":{"Whale Alert Webhook":{"main":[[{"node":"Process Whale Data","type":"main","index":0}]]},"Process Whale Data":{"main":[[{"node":"Large Whale?","type":"main","index":0}]]},"Large Whale?":{"main":[[{"node":"Send Telegram Alert","type":"main","index":0},{"node":"Format Tweet","type":"main","index":0}]]},"Send Telegram Alert":{"main":[[{"node":"Respond Success","type":"main","index":0}]]},"Format Tweet":{"main":[[{"node":"Post to X","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveExecutionProgress":true,"saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":null,"pinData":null,"versionId":"c05990f7373d4ff5","activeVersionId":"c05990f7373d4ff5","versionCounter":3,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-04-13T00:07:22.814Z","createdAt":"2026-04-13T00:07:22.814Z","role":"workflow:owner","workflowId":"d6334eca3f3a4d31","projectId":"op0DK4pVtPPxkvv9","project":{"updatedAt":"2026-04-12T17:27:58.061Z","createdAt":"2026-04-12T14:40:16.906Z","id":"op0DK4pVtPPxkvv9","name":"Crypto Rug Muncher <cyptorugmuncher@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"61ff25db-6593-4eda-8e48-0cf4b2faeab5"}}],"versionMetadata":{"name":"Whale Alert System","description":"RMI Whale Alert System"}},{"updatedAt":"2026-04-13T00:04:53.153Z","createdAt":"2026-04-13T00:04:45.261Z","id":"35f988ed896641f8","name":"Scam Alert System","description":"RMI Scam Alert System","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"scam-alert","responseMode":"responseNode","options":{}},"id":"webhook-node","name":"Scam Alert Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[250,300],"webhookId":"scam-alert"},{"parameters":{"jsCode":"// Validate and process scam alert\nconst alert = $input.first().json.body;\n\n// Validate required fields\nif (!alert.token_address && !alert.contract_address) {\n  return [{\n    json: {\n      success: false,\n      error: 'Missing token or contract address'\n    }\n  }];\n}\n\n// Calculate risk score\nlet riskScore = alert.risk_score || 0;\nif (alert.honeypot_detected) riskScore += 30;\nif (alert.ownership_renounced === false) riskScore += 20;\nif (alert.mint_function) riskScore += 25;\nif (alert.sell_tax > 10) riskScore += 15;\n\nreturn [{\n  json: {\n    ...alert,\n    risk_score: Math.min(100, riskScore),\n    processed_at: new Date().toISOString(),\n    alert_level: riskScore >= 80 ? 'critical' : riskScore >= 60 ? 'high' : riskScore >= 40 ? 'medium' : 'low'\n  }\n}];"},"id":"process-node","name":"Process Alert","type":"n8n-nodes-base.code","typeVersion":2,"position":[450,300]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"condition-1","leftValue":"={{ $json.risk_score }}","rightValue":"80","operator":{"type":"number","operation":"gt"}}],"combinator":"and"}},"id":"if-node","name":"High Risk?","type":"n8n-nodes-base.if","typeVersion":2,"position":[650,300]},{"parameters":{"content":"🚨 CRITICAL SCAM ALERT 🚨\n\nToken: {{ $json.token_name || 'Unknown' }}\nContract: {{ $json.token_address || $json.contract_address }}\n\nRisk Score: {{ $json.risk_score }}/100\nAlert Level: {{ $json.alert_level.toUpperCase() }}\n\n⚠️ Detected Issues:\n{{ $json.honeypot_detected ? '• Honeypot detected\\n' : '' }}{{ $json.mint_function ? '• Mint function enabled\\n' : '' }}{{ $json.ownership_renounced === false ? '• Ownership not renounced\\n' : '' }}{{ $json.sell_tax ? `• High sell tax: ${$json.sell_tax}%\\n` : '' }}\n\nProtect yourself - AVOID this token!\n\nReported via The Trenches","additionalFields":{}},"id":"twitter-node","name":"Post to X","type":"n8n-nodes-base.twitter","typeVersion":2,"position":[250,500],"credentials":{"twitterOAuth2Api":{"id":"twitter-creds","name":"Twitter OAuth2"}}},{"parameters":{"operation":"insert","table":{"value":"security_alerts","mode":"list"},"columns":{"mapping":[{"column":"token_address","value":"={{ $json.token_address || $json.contract_address }}"},{"column":"token_name","value":"={{ $json.token_name }}"},{"column":"risk_score","value":"={{ $json.risk_score }}"},{"column":"alert_level","value":"={{ $json.alert_level }}"},{"column":"detected_issues","value":"={{ JSON.stringify($json) }}"},{"column":"reported_at","value":"={{ $now }}"}]}},"id":"postgres-node","name":"Save to Database","type":"n8n-nodes-base.postgres","typeVersion":2.2,"position":[450,500],"credentials":{"postgres":{"id":"postgres-creds","name":"PostgreSQL"}}},{"parameters":{"options":{}},"id":"respond-node","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[650,500]}],"connections":{"Scam Alert Webhook":{"main":[[{"node":"Process Alert","type":"main","index":0}]]},"Process Alert":{"main":[[{"node":"High Risk?","type":"main","index":0}]]},"High Risk?":{"main":[[{"node":"Post to X","type":"main","index":0},{"node":"Save to Database","type":"main","index":0}],[{"node":"Save to Database","type":"main","index":0}]]},"Post to X":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Save to Database":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveExecutionProgress":true,"saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":null,"pinData":null,"versionId":"53c2207509ef4034","activeVersionId":"53c2207509ef4034","versionCounter":3,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-04-13T00:07:22.814Z","createdAt":"2026-04-13T00:07:22.814Z","role":"workflow:owner","workflowId":"35f988ed896641f8","projectId":"op0DK4pVtPPxkvv9","project":{"updatedAt":"2026-04-12T17:27:58.061Z","createdAt":"2026-04-12T14:40:16.906Z","id":"op0DK4pVtPPxkvv9","name":"Crypto Rug Muncher <cyptorugmuncher@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"61ff25db-6593-4eda-8e48-0cf4b2faeab5"}}],"versionMetadata":{"name":"Scam Alert System","description":"RMI Scam Alert System"}},{"updatedAt":"2026-04-13T00:04:53.153Z","createdAt":"2026-04-13T00:04:45.262Z","id":"5b7cbb3a456e4674","name":"RMI Daily Intelligence Report","description":"RMI RMI Daily Intelligence Report","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"hour","hoursInterval":24,"minutesInterval":1,"triggerAtHour":9,"triggerAtMinute":0}]}},"id":"schedule-daily","name":"Daily at 9 AM","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[250,300],"webhookId":"daily-intelligence"},{"parameters":{"url":"={{ $env.RMI_BACKEND_URL }}/api/v1/admin/intelligence/briefing","options":{"response":{"response":{"fullResponse":true}}},"headerParametersUi":{"parameter":[{"name":"Authorization","value":"Bearer {{ $env.VAULT_ADMIN_TOKEN }}"}]}},"id":"fetch-briefing","name":"Fetch Briefing","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[450,300]},{"parameters":{"jsCode":"// Format daily intelligence briefing\nconst briefing = $input.first().json.body;\n\nconst date = new Date().toLocaleDateString('en-US', {\n  weekday: 'long',\n  year: 'numeric',\n  month: 'long',\n  day: 'numeric'\n});\n\nlet message = `📊 **RMI Daily Intelligence - ${date}**\\n\\n`;\n\n// Top Stories\nif (briefing.top_stories && briefing.top_stories.length > 0) {\n  message += `📰 **Top Stories**\\n`;\n  briefing.top_stories.slice(0, 3).forEach(story => {\n    message += `• ${story.title}\\n`;\n  });\n  message += `\\n`;\n}\n\n// Scam Alerts\nif (briefing.scam_alerts_count > 0) {\n  message += `🚨 **Scam Alerts: ${briefing.scam_alerts_count} New**\\n`;\n  briefing.scam_alerts.slice(0, 2).forEach(alert => {\n    message += `• ${alert.title}\\n`;\n  });\n  message += `\\n`;\n}\n\n// Trending Topics\nif (briefing.trending_topics && briefing.trending_topics.length > 0) {\n  message += `📈 **Trending Topics**\\n`;\n  briefing.trending_topics.slice(0, 3).forEach(topic => {\n    message += `• ${topic.title}\\n`;\n  });\n  message += `\\n`;\n}\n\n// Pre-drafted content available\nif (briefing.pre_drafted_posts_count > 0) {\n  message += `✍️ **${briefing.pre_drafted_posts_count} Posts Ready to Publish**\\n`;\n  message += `Use /admin/intelligence/briefing to review\\n\\n`;\n}\n\n// Action items\nif (briefing.admin_action_items && briefing.admin_action_items.length > 0) {\n  message += `✅ **Action Items:**\\n`;\n  briefing.admin_action_items.slice(0, 3).forEach(item => {\n    message += `□ ${item}\\n`;\n  });\n}\n\nmessage += `\\n🔗 Full briefing: https://cryptorugmunch.com/admin/intelligence`;\n\nreturn {\n  message: message,\n  raw_data: briefing\n};"},"id":"format-telegram","name":"Format Telegram Report","type":"n8n-nodes-base.code","typeVersion":2,"position":[650,300]},{"parameters":{"chatId":"={{ $env.TELEGRAM_CHAT_ID }}","text":"={{ $json.message }}","additionalFields":{"parse_mode":"Markdown"}},"id":"send-telegram","name":"Send to Telegram","type":"n8n-nodes-base.telegram","typeVersion":1.1,"position":[850,300],"credentials":{"telegramApi":{"id":"uXFqVgTBJsC5BGaA","name":"RMI Telegram Bot"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"check-success","leftValue":"={{ $json.statusCode }}","rightValue":"200","operator":{"type":"number","operation":"equals"}}]}},"id":"check-success","name":"HTTP Success?","type":"n8n-nodes-base.if","typeVersion":2,"position":[650,500]},{"parameters":{"chatId":"={{ $env.TELEGRAM_ADMIN_CHAT_ID }}","text":"⚠️ **RMI Daily Report Failed**\\n\\nCould not fetch intelligence briefing.\\n\\nError: {{ $json.statusMessage }}","additionalFields":{"parse_mode":"Markdown"}},"id":"send-error","name":"Send Error Alert","type":"n8n-nodes-base.telegram","typeVersion":1.1,"position":[850,500],"credentials":{"telegramApi":{"id":"uXFqVgTBJsC5BGaA","name":"RMI Telegram Bot"}}}],"connections":{"Daily at 9 AM":{"main":[[{"node":"Fetch Briefing","type":"main","index":0}]]},"Fetch Briefing":{"main":[[{"node":"Format Telegram Report","type":"main","index":0},{"node":"HTTP Success?","type":"main","index":0}]]},"Format Telegram Report":{"main":[[{"node":"Send to Telegram","type":"main","index":0}]]},"HTTP Success?":{"main":[[],[{"node":"Send Error Alert","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"America/New_York"},"staticData":null,"meta":null,"pinData":null,"versionId":"5f3bbf2ca52d4cd7","activeVersionId":"5f3bbf2ca52d4cd7","versionCounter":2,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-04-13T00:07:22.814Z","createdAt":"2026-04-13T00:07:22.814Z","role":"workflow:owner","workflowId":"5b7cbb3a456e4674","projectId":"op0DK4pVtPPxkvv9","project":{"updatedAt":"2026-04-12T17:27:58.061Z","createdAt":"2026-04-12T14:40:16.906Z","id":"op0DK4pVtPPxkvv9","name":"Crypto Rug Muncher <cyptorugmuncher@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"61ff25db-6593-4eda-8e48-0cf4b2faeab5"}}],"versionMetadata":{"name":"RMI Daily Intelligence Report","description":"RMI RMI Daily Intelligence Report"}}]