n8n-workflows/rmi_investigation_webhook.json
{
  "name": "RMI Investigation Webhook Handler",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "investigation",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-investigation",
      "name": "Investigation Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "investigation"
    },
    {
      "parameters": {
        "jsCode": "// Parse investigation data from RMI backend\nconst data = $input.first().json.body;\n\n// Validate required fields\nif (!data.case_id || !data.action) {\n  return {\n    status: 'error',\n    message: 'Missing required fields: case_id, action'\n  };\n}\n\n// Log to console for debugging\nconsole.log('Investigation webhook received:', data.case_id, data.action);\n\n// Return processed data\nreturn {\n  status: 'success',\n  case_id: data.case_id,\n  action: data.action,\n  timestamp: new Date().toISOString(),\n  data: data\n};"
      },
      "id": "process-investigation",
      "name": "Process Investigation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "options": {},
        "responseBody": "={{ JSON.stringify({ success: true, case_id: $json.case_id, processed: true, timestamp: $json.timestamp }) }}"
      },
      "id": "respond-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "options": {},
        "statusCode": 400,
        "responseBody": "={{ JSON.stringify({ success: false, error: $json.message }) }}"
      },
      "id": "respond-error",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [650, 500]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-status",
              "leftValue": "={{ $json.status }}",
              "rightValue": "success",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "check-status",
      "name": "Check Status",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [650, 300]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "connections": {
    "Investigation Webhook": {
      "main": [
        [
          {
            "node": "Process Investigation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Investigation": {
      "main": [
        [
          {
            "node": "Check Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Status": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
