n8n-workflows/rmi_daily_intelligence.json
{
  "name": "RMI Daily Intelligence Report",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hour",
              "hoursInterval": 24,
              "minutesInterval": 1,
              "triggerAtHour": 9,
              "triggerAtMinute": 0
            }
          ]
        }
      },
      "id": "schedule-daily",
      "name": "Daily at 9 AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 300],
      "webhookId": "daily-intelligence"
    },
    {
      "parameters": {
        "url": "={{ $env.RMI_BACKEND_URL }}/api/v1/admin/intelligence/briefing",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.VAULT_ADMIN_TOKEN }}"
            }
          ]
        }
      },
      "id": "fetch-briefing",
      "name": "Fetch Briefing",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "jsCode": "// Format daily intelligence briefing\nconst briefing = $input.first().json.body;\n\nconst date = new Date().toLocaleDateString('en-US', {\n  weekday: 'long',\n  year: 'numeric',\n  month: 'long',\n  day: 'numeric'\n});\n\nlet message = `📊 **RMI Daily Intelligence - ${date}**\\n\\n`;\n\n// Top Stories\nif (briefing.top_stories && briefing.top_stories.length > 0) {\n  message += `📰 **Top Stories**\\n`;\n  briefing.top_stories.slice(0, 3).forEach(story => {\n    message += `• ${story.title}\\n`;\n  });\n  message += `\\n`;\n}\n\n// Scam Alerts\nif (briefing.scam_alerts_count > 0) {\n  message += `🚨 **Scam Alerts: ${briefing.scam_alerts_count} New**\\n`;\n  briefing.scam_alerts.slice(0, 2).forEach(alert => {\n    message += `• ${alert.title}\\n`;\n  });\n  message += `\\n`;\n}\n\n// Trending Topics\nif (briefing.trending_topics && briefing.trending_topics.length > 0) {\n  message += `📈 **Trending Topics**\\n`;\n  briefing.trending_topics.slice(0, 3).forEach(topic => {\n    message += `• ${topic.title}\\n`;\n  });\n  message += `\\n`;\n}\n\n// Pre-drafted content available\nif (briefing.pre_drafted_posts_count > 0) {\n  message += `✍️ **${briefing.pre_drafted_posts_count} Posts Ready to Publish**\\n`;\n  message += `Use /admin/intelligence/briefing to review\\n\\n`;\n}\n\n// Action items\nif (briefing.admin_action_items && briefing.admin_action_items.length > 0) {\n  message += `✅ **Action Items:**\\n`;\n  briefing.admin_action_items.slice(0, 3).forEach(item => {\n    message += `□ ${item}\\n`;\n  });\n}\n\nmessage += `\\n🔗 Full briefing: https://cryptorugmunch.com/admin/intelligence`;\n\nreturn {\n  message: message,\n  raw_data: briefing\n};"
      },
      "id": "format-telegram",
      "name": "Format Telegram Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "send-telegram",
      "name": "Send to Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [850, 300],
      "credentials": {
        "telegramApi": {
          "id": "telegram-bot-credentials",
          "name": "RMI Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-success",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": "200",
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "check-success",
      "name": "HTTP Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [650, 500]
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_ADMIN_CHAT_ID }}",
        "text": "⚠️ **RMI Daily Report Failed**\\n\\nCould not fetch intelligence briefing.\\n\\nError: {{ $json.statusMessage }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "send-error",
      "name": "Send Error Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [850, 500],
      "credentials": {
        "telegramApi": {
          "id": "telegram-bot-credentials",
          "name": "RMI Telegram Bot"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/New_York"
  },
  "staticData": null,
  "tags": ["RMI", "daily", "intelligence", "automation"],
  "connections": {
    "Daily at 9 AM": {
      "main": [
        [
          {
            "node": "Fetch Briefing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Briefing": {
      "main": [
        [
          {
            "node": "Format Telegram Report",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Success?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Telegram Report": {
      "main": [
        [
          {
            "node": "Send to Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Success?": {
      "main": [
        [],
        [
          {
            "node": "Send Error Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
