n8n-workflows/whale-alert.json
{
  "name": "Whale Alert System",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whale-alert",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-node",
      "name": "Whale Alert Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "whale-alert"
    },
    {
      "parameters": {
        "jsCode": "// Process whale alert data\nconst data = $input.first().json.body;\n\n// Validate required fields\nif (!data.wallet_address || !data.amount) {\n  return {\n    status: 'error',\n    message: 'Missing wallet_address or amount'\n  };\n}\n\n// Calculate whale tier\nconst amount = parseFloat(data.amount);\nlet tier = 'small';\nif (amount >= 1000000) tier = 'mega';\nelse if (amount >= 100000) tier = 'large';\nelse if (amount >= 10000) tier = 'medium';\n\n// Format message\nconst formattedAmount = new Intl.NumberFormat('en-US', {\n  style: 'currency',\n  currency: 'USD',\n  maximumFractionDigits: 0\n}).format(amount);\n\nreturn {\n  status: 'success',\n  wallet_address: data.wallet_address,\n  amount: amount,\n  formatted_amount: formattedAmount,\n  tier: tier,\n  token: data.token_symbol || 'UNKNOWN',\n  chain: data.chain || 'solana',\n  tx_hash: data.tx_hash || '',\n  timestamp: new Date().toISOString(),\n  alert_id: 'whale_' + Date.now()\n};"
      },
      "id": "process-node",
      "name": "Process Whale Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "tier-check",
              "leftValue": "={{ $json.tier }}",
              "rightValue": "medium",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-tier",
      "name": "Large Whale?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "content": "🐋 **WHALE ALERT** 🐋\n\n**Tier:** {{ $json.tier.toUpperCase() }}\n**Amount:** {{ $json.formatted_amount }}\n**Token:** {{ $json.token }}\n**Chain:** {{ $json.chain.toUpperCase() }}\n\n**Wallet:** `{{ $json.wallet_address }}`\n**Tx:** `{{ $json.tx_hash }}`\n\nTime: {{ $json.timestamp }}",
        "additionalFields": {}
      },
      "id": "telegram-node",
      "name": "Send Telegram Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [850, 200],
      "credentials": {
        "telegramApi": {
          "id": "telegram-bot-credentials",
          "name": "RMI Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "options": {},
        "content": "🐋 Whale Alert: {{ $json.formatted_amount }} {{ $json.token }} moved\n\nWallet: {{ $json.wallet_address.slice(0,6) }}...{{ $json.wallet_address.slice(-4) }}\nTier: {{ $json.tier }}\nChain: {{ $json.chain }}\n\n#WhaleAlert #{{ $json.chain }} #Crypto",
        "otherOptions": {}
      },
      "id": "twitter-format",
      "name": "Format Tweet",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [850, 400]
    },
    {
      "parameters": {
        "text": "={{ $json.content }}",
        "additionalFields": {}
      },
      "id": "twitter-post",
      "name": "Post to X",
      "type": "n8n-nodes-base.twitter",
      "typeVersion": 2,
      "position": [1050, 400],
      "credentials": {
        "twitterOAuth2Api": {
          "id": "twitter-credentials",
          "name": "Twitter API"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "options": {},
        "responseBody": "={{ JSON.stringify({ success: true, alert_id: $json.alert_id, tier: $json.tier }) }}"
      },
      "id": "respond-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1050, 200]
    }
  ],
  "connections": {
    "Whale Alert Webhook": {
      "main": [
        [
          {
            "node": "Process Whale Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Whale Data": {
      "main": [
        [
          {
            "node": "Large Whale?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Large Whale?": {
      "main": [
        [
          {
            "node": "Send Telegram Alert",
            "type": "main",
            "index": 0
          },
          {
            "node": "Format Tweet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Telegram Alert": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Tweet": {
      "main": [
        [
          {
            "node": "Post to X",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null
}
